*
{
    margin: 0;
    padding: 0;    
}

.template_header
{
    display: block;
    height: 10%;
    width: 100%;
    background: #666666;
}

.template_leftblock
{
    display: block;
    height: 80%;
    width: 20%;
    float: left;
    background: #999999;
}

.template_mainblock
{
    display: block;
    height: 80%;
    width: 80%;
    background: #AAAAAA;
    float: right;
}

.template_footer
{
    display: block;
    height: 10%;
    width: 100%;
    background: #CCCCCC;
    position: absolute;
    bottom: 0;
}

.clear
{
    clear: both;
}