*
{
    margin: 0;
    padding: 0;    
}

.template_header
{
    display: block;
    height: 10%;
    width: 100%;
    background: #666666;
}

.template_container
{
     height: 100%;
     width: 100%;
     padding-bottom: 100px;
}

.template_leftblock
{
    display: block;
    min-height: 100%;
    height: auto;
    width: 20%;
    float: left;
    background: #999999;
}

.template_mainblock
{
    display: block;
    min-height: 100%;
    height: auto;
    width: 80%;
    background: #AAAAAA;
    float: right;
}

.template_footer
{
    display: block;
    height: 100px;
    margin-bottom: -100px;
    width: 100%;
    background: #CCCCCC;

}

.clear
{
    clear: both;
}