*
{
    margin: 0;
    padding: 0;    
}

html, body
{
    height: 100%;
    width: 100%;
    min-height: 100%;
}

.template_container
{
    height: 100%;
    width: 100%; 
    margin-bottom: 100px;
    min-height: 100%;
}

.template_header
{
    height: 10%;
    width: 100%; 
    background: aqua;
}

.template_leftblock
{

    width: 20%; 
    float: left;
}

.template_mainblock
{
    width: 80%; 
    margin-bottom: 100px;
}

.template_footer
{
    height: 100px;
    margin-top: -100px;
    background: red;
}

.clear
{
    clear: both;
}