table
{
	border-collapse: collapse;
}

td
{
	border: 1px dashed gray;
	padding: 5px;
	font: Courier New 12px;
}

.info
{
	background: #e3e3e3;
}

.odd
{
	background: #fefbe8;
}

.err
{
	color: red;
}

